.main {
  background: no-repeat scroll center 20% / cover;
  height: 50vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;

  .cover {
    color: white;
    height: 50vh;
    width: 100vw;
    background-color: rgba(43, 56, 133, 0.466);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    text-align: center;

    margin: 0.5rem;
  }
  h4 {
    margin: 0.5rem;
    text-align: center;
  }
  .input {
    margin: 1rem;

    input {
      width: 20rem;
      height: 2.5rem;
      border-radius: 2rem 0rem 0rem 2rem;
      padding: 0rem 1.5rem;
      font-size: 1rem;
    }
    button {
      height: 2.5rem;
      border-radius: 0rem 5rem 5rem 0rem;
    }
  }
}
@media screen and (max-width: 450px) {
  .main {
    .input {
      input {
        width: 15rem;
        height: 2rem;
      }
      button {
        height: 2rem;
      }
    }
  }
}
