.privacy {
  margin: 17.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    width: 50vw;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
