.ul {
  margin-bottom: 0rem;
  margin-top: 3rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 4rem;
  color: white;
  background-color: rgb(63, 63, 63);
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
