.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  height: 4rem;
}
.logo {
  color: rgb(53, 182, 139);
}
.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 0.5fr 2fr 0.5fr 2fr 6fr 1fr 1fr 1fr 1fr;
}
