.btn {
  position: fixed;
  bottom: 7rem;
  right: 7rem;
  padding: 0;
  color: rgb(255, 255, 255);
  border: none;
  background-color: aquamarine;
  border-radius: 50%;
  cursor: pointer;
}

.icon {
  width: 5rem;
  height: 5rem;
}
